doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title 'Rainclouds Control Panel'
        link(rel="stylesheet" href="/public/lib/mantine/styles.css")
        script(src="/public/lib/axios/axios.min.js")
    body
        block content
        script(src="/public/lib/jquery/jquery.slim.js")
